html {
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100%;
  box-sizing: border-box;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    min-height: 100%;

    #app {
      //min-height: 100%;

      .container {
        //min-height: 100%;

        section.content {
          display: flex;
          flex-direction: row;

          aside.sidebar {
            position: relative;
            flex-grow: 1;
            width: 30%;
            min-width: 200px;
            max-width: 300px;
            background: #222222;

            nav {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              overflow-x: hidden;
              overflow-y: auto;

              a {
                display: block;
                padding: 12px 18px;
                text-decoration: none;
                color: #999999;
                &:not(:last-child) {
                  border-bottom: 1px solid #444444;
                }
                &.active-true,
                &:hover {
                  background: #EEEEEE;
                  color: #222222;
                  border-color: #CCCCCC;
                }
              }
            }
          }

          main.body {
            flex-grow: 1;
            width: 70%;
            padding: 30px;
            background: #EEEEEE;
          }
        }
      }
    }
  }
}
