p.product-price {
  span.cost {
    display: inline-block;
    font-size: 1.8em;
    margin-right: 10px;
  }
  span.discount {
    display: block;
    font-size: .8em;
    strong,
    em {
      display: block;
    }
    strong {
      color: #E82C0C;
    }
  }
}
