@import "../variables";
@import "../mixins";

.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .product-card {
    flex: 0 0 auto;
    width: calc(100% - #{$card-margin * 2});
    height: percentage(0); // Prevent height match with other flex items
    margin: $card-margin;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    @include breakpoint(tablet) { width: calc(#{(100% / 2)} - #{$card-margin * 2}); }
    @include breakpoint(desktop) { width: calc(#{(100% / 3)} - #{$card-margin * 2}); }

    h2 {
      font-size: 1.2em;
      margin: 0 0 10px 0;
    }

    img {
      display: block;
      width: 75%;
      margin: 30px auto;
      cursor: pointer;
    }
  }
}
