@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}

$breakpoint-desktop: em(1200);
$breakpoint-tablet: em(700);

$color-brand-blue: #003b64;
$color-brand-yellow: #fff200;

$card-margin: 5px;
$header-height: 80px;
